.editor-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .editor-section {
    max-width: 1000px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 5;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .instructions-box {
    border: 1px solid #ba5c5c;
    border-radius: 4px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 10px;
  }
  
  .button-section {
    display: flex;
    justify-content: flex-end;
  }
  
  .checkboxes input[type="checkbox"], checkboxes label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

#checkboxes label {
  margin-right: 20px; /* Adjust spacing between label and next checkbox */
}
  .cancel-btn {
    margin-right: 10px;
  }

  .save-btn {
    background-color: #802424;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-btn:hover {
    background-color: #45a049;
  }
  
  .editor-section1 {
    display: flex;
    align-items: left;
    max-width: 1000px;
    margin-top: 20px;
  }

  .editor-section1 label {
    margin-right: 10px;}
  
  .drop-down {
    display: flex;
    align-items: right;
    max-width: 1000px;
    margin-top: 20px;
    margin-right: 0;
  }
  .drop-down label {
    margin-right: 10px;}